{% extends "base.html" %}
{% block title %}Records{% endblock %}

{% block content %}
<form method="get">
    <input type="text" name="q" placeholder="Căutare..."
           value="{{ q }}">

    <select name="status">
        <option value="">-- toate statusurile --</option>
        {% for s in statuses %}
            <option value="{{ s }}" {% if s == current_status %}selected{% endif %}>
                {{ s }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Filtrează</button>
</form>

<table>
    <thead>
    <tr>
        <th>PBM ID</th>
        <th>Status</th>
        <th>Dscription</th>
        <th>Owner</th>
        <th>Create Date</th>
        <th>BMC</th>
    </tr>
    </thead>
    <tbody>
    {% for r in records %}
    <tr>
        <td>{{ r.pbm_id }}</td>
        <td>{{ r.status }}</td>
        <td>{{ r.title }}</td>
        <td>{{ r.owner }}</td>
        <td>{{ r.create_date.strftime('%Y-%m-%d') }}</td>
        <td>
            <a href="{{ r.bmc }}" target="_blank">link</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
